//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------
@brand-default:         #cc0c0d;

// Scaffolding
// -------------------------

@body-bg:               #000000;
@text-color:            #FFFFFF;

// Links
// -------------------------

@link-color:            #3276b1;