//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------
@brand-default:         #cc0c0d;

// Scaffolding
// -------------------------

@body-bg:               #FFFFFF;
@wrap-bg:          #efefef;
@text-color:            #000;

// Links
// -------------------------

@link-color:            #3276b1;