html, body, .container {
    height: 100%;
}

.container {
    display:table;
    margin-top: 0;
    padding: 0 0 0 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.row {
    display: table-row;
    height: 100%;
}

.rightcol {
    display: table-cell;
    float: none;
}

.leftcol {
    background-color: #000000;
    display: inline-block;
    float: left;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}


body {
    background-color: @body-bg;
}

.ember-view {
    min-height: 100%;
}

div.ember-view {
    background-color: @wrap-bg;
    box-shadow: 0 0 15px 4px rgba(0,0,0,.4);
    display: table;
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
    width:90%;
}

.main {
    padding: 0 15px 50px;
}

.footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear:both;
    padding-top:20px;
}