<div class="row">
        <div class="col-xs-12">
            <img src="assets/images/logo.png" alt="Perficient XD"/>
        </div>
        <!--<div class="col-xs-6">
            <h3 style="text-align:center;">Time Remaining</h3>
            <div class="timer"></div>
            <div style="text-align:center;"><span id="ms_timer"></span></div>
        </div>-->
    </div>
