 <div class="row welcome-text">
    <div class="col-xs-12">
        <h3>{{display_name}}:</h3>
        <p>{{body}}</p>
    </div>
</div>

  <!-- unbound id -->
  {{textarea value=answer id=id name=post_name}}

