<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <img src="assets/images/logo.png" alt="Perficient XD" class="logo">
            <nav>
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="question">
                            {{#each model}}
                            <li>{{#link-to 'question' this}}
                            Question {{id}}
                            {{/link-to}}</li>
                            {{/each}}
                        </ul>
                        <button type="submit" class="submit" id="submit">Submit Answers</button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-xs-9">
            <form id="questionnaire_form" action="send_mail.php" method="post">
                {{outlet}}
            </form>
        </div>
    </div>
</div>


