<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <img src="assets/images/logo.png" alt="Perficient XD" class="logo">
            <nav>
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="question">
                            {{#each model}}
                                <li>
                                   {{!--  {{#link-to 'question' this}} --}}
                                     <a {{bind-attr class=id}}> {{display_name}}</a>
                                  {{!--   {{/link-to}} --}}
                                </li>
                               {{/each}}
                        </ul>
                        <button type="submit" class="submit" id="submit">Submit Answers</button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-xs-9">
            {{partial "question" }}
        </div>
    </div>
</div>


