<div class="wrap">
    {{partial "logo"}}
    <nav class="row">
        <div class="col-xs-12">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="question">
                        {{#each model}}
                        {{#link-to 'question' this}}
                        Question {{id}}
                        {{/link-to}}
                        {{/each}}
                    </div>
                    {{#link-to 'thank-you'}}<button type="submit" class="submit">Submit Answers</button>{{/link-to}}
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12">
            <div>
                {{outlet}}
            </div>
        </div>
    </div>
</div>


